version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: carwash_db
      POSTGRES_USER: carwash_user
      POSTGRES_PASSWORD: motdepassefort
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  db_data:
